@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --cyan-50: #ecfeff;
    --cyan-100: #cffafe;
    --cyan-200: #a5f3fc;
    --cyan-300: #67e8f9;
    --cyan-400: #22d3ee;
    --cyan-500: #06b6d4;
    --cyan-600: #0891b2;
    --cyan-700: #0e7490;
    --cyan-800: #5b21b6;
    --cyan-900: #4c1d95;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 2rem 1rem;
    color: white;
    background-color: var(--cyan-700);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    text-align: center;
}

h1 {
    margin: 0;
}

.main-container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 4rem;   
    padding: 1.5rem;
    box-shadow: 10px 10px 25px 5px lightgray;
    border-radius: 1.5rem;
}

input {
    margin: 1rem auto 1rem auto;
    width: 250px;
    height: 25px;
    font-size: 1.1rem;
    text-align: center;
}

label {
    font-size: 1.25rem;
}

button {
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    color: white;
    background-color: var(--cyan-700);
    cursor: pointer;
}
 button:hover,
 button:focus {
    font-weight: 700;
 }

#output {
    max-width: 500px;
    margin: auto;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5rem;
}